doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Create New Recipe
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #a09a82;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
      header {
        background: #385740;
        padding: 40px;
        display: flex;
        color:white;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .recipe-container {
        margin-top:40px;
        background-color: #c4bd9f;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 800px;
        }
        .recipe-container h2 {
        text-align: center;
        margin-bottom: 20px;
        }
        .recipe-container label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        }
        .recipe-container input,
        .recipe-container textarea,
        .recipe-container select {
        width: 95%;
        padding: 10px;
        margin-bottom: 10px;
        margin-left:10px;
        border: 1px solid #a09a82;
        border-radius: 5px;
        background-color:#c4bd9f;
        }
        .recipe-container textarea {
        resize: vertical;
        height: 100px;
        }
        .recipe-container button {
        width: 100%;
        padding: 10px;
        background-color: #385740;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        }
        .recipe-container button:hover {
        background-color: #218838;
        }
  body
    .recipe-container
      header 
        h1 Add new recipe
      form(
        method="POST" action="/home/profile/addrecipe" enctype="multipart/form-data")
        input(type='file', name='image')
        label(for="title") Title
        input#title(
          required="" 
          name="title" 
          type="text"
          )
        label(for="description") Description
        textarea#description(
          required="" 
          name="description"
          )
        label(for="cuisine") Cuisine
        select#cuisine(
          required="" 
          name="cuisine"
          )
          option(value="") Select Cuisine
          option(value="Italian") Italian
          option(value="Chinese") Chinese
          option(value="Indian") Indian
          option(value="Mexican") Mexican
          option(value="American") American
          // Add more options as needed
        label(for="ingredients") Ingredients
        textarea#ingredients(
          placeholder="List ingredients, separated by commas" 
          required="" 
          name="ingredients"
          )
        label(for="details") Details
        textarea#details(
          placeholder="Enter the preparation steps and details" 
          required="" 
          name="details"
          )
        label(for="timeRequired") Time Required
        input#timeRequired(
          required="" 
          name="timeRequired" 
          type="text"
          )
        button(type="submit") Create Recipe