html
  head
    title #{title} recipes
    link(
      crossorigin="anonymous" 
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
      rel="stylesheet"
      )
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav 
        a(href="/home") &lt Back to home
      .logo
        | Recipe
        span Wiz
    .content
      .recipes
        each recipe, index in recipes
          .recipe-card
            if recipe.image
              img(src=recipe.image, alt=recipe.title)
            h3 #{recipe.title}
            p #{recipe.description}
            .cuisine #{recipe.cuisine}
            .col-12
              each star, starIndex in [1, 2, 3, 4, 5]
                span(id='recipe' + index + '-star' + (starIndex + 1)).fa.fa-star
                script(type="text/javascript").
                  $(document).ready(function () {
                    var recipe = !{JSON.stringify(recipe)};
                    let totalRating = recipe.totalRating;
                    for (let i = 0; i < totalRating; i++) {
                      document.getElementById('recipe' + #{index} + '-star' + (i + 1)).style.color = 'orange';
                    }
                  });
            .actions
              form(action="/home/viewRecipe" method="GET")
                  input(type="hidden" name="id" value=recipe._id)
                  button(type="submit") view recipe