doctype html
html
  head
    title Profile Page
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="../stylesheets/style.css")
  body
    header
      nav 
        a(href="/home") &lt Back to home
      h2 Profile of #{username}
      nav 
        a(href="/logout") Logout
    .content
      a.add-recipe-button(href="/home/profile/addrecipe") + Add New Recipe
      if recipes.length
        .recipes
          each recipe in recipes
            .recipe-card
              if recipe.image
                img(src=recipe.image, alt=recipe.title)
              h3 #{recipe.title}
              .cuisine #{recipe.cuisine}
              p #{recipe.description}
              .actions
                form(action="/home/profile/updaterecipe" method="GET")
                  input(type="hidden" name="id" value=recipe._id)
                  input(type="hidden" name="title" value=recipe.title)
                  input(type="hidden" name="description" value=recipe.description)
                  input(type="hidden" name="ingredients" value=recipe.ingredients.join(','))
                  input(type="hidden" name="details" value=recipe.details)
                  input(type="hidden" name="cuisine" value=recipe.cuisine)
                  if recipe.image
                    input(type="hidden" name="image" value=recipe.image)
                  button(type="submit") Update
                form(action="/home/profile/deleterecipe" method="POST")
                  input(type="hidden" name="id" value=recipe._id)
                  button(type="submit") Delete
      else
        p You have not created any recipes yet.
      
    footer
      p &copy; 2024 Your Recipe Sharing Website
