doctype html
html
  head
    title Update Recipe
    link(rel="stylesheet" href="../../stylesheets/style.css")
    style.
      body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      }

      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
  body
    .container
      h1 Update Recipe
      form(action="/home/profile/updaterecipe" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="id" value=id)
        
        .form-group
          label(for="title") Title:
          input(type="text" id="title" name="title" value=title required)
        
        .form-group
          label(for="description") Description:
          input(type="text" id="description" name="description" value=description required)
        
        .form-group
          label(for="cuisine") Cuisine:
          input(type="text" id="cuisine" name="cuisine" value=cuisine required)
        
        .form-group
          label(for="ingredients") Ingredients:
          textarea(id="ingredients" name="ingredients" required)= ingredients
        
        .form-group
          label(for="details") Details:
          textarea(id="details" name="details" required)= details
        
        if image
          .form-group
            label(for="image") Image URL:
            input(type="file" id="image" name="image" value=image)
        
        button(type="submit" class="submit-button") Update Recipe
