doctype html
html
  head
    title Recipe
    link(rel="stylesheet" href="../stylesheets/recipe.css")
    link(
      crossorigin="anonymous" 
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
      rel="stylesheet"
      )
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    .recipe-container
      .recipe-header
        .image-container
          img(src=recipe.image alt=recipe.title)
          .recipe-title
            h1 #{recipe.title}
        .recipe-info
          span Rating:
            .col-12
              span#1star.fa.fa-star
              span#2star.fa.fa-star
              span#3star.fa.fa-star
              span#4star.fa.fa-star
              span#5star.fa.fa-star
              script(type="text/javascript").
                $(document).ready(function () {
                  var recipe = !{JSON.stringify(recipe)};
                  let totalRating = recipe.totalRating;
                  for (let i = 0; i < totalRating; i++) {
                    document.getElementById((i+1)+'star').style.color='orange'
                  }
                  });
          span Cuisine: #{recipe.cuisine}
          span Cooking Time: #{recipe.timeRequired}
      .recipe-content
        .ingredients
          h2 Ingredients
          if recipe.ingredients && recipe.ingredients.length
            ul
              each ingredient in recipe.ingredients
                li #{ingredient}
          else
            p No ingredients listed.
        .directions
          h2 Directions
          if recipe.details
          ul
            each step in recipe.details.split('\n')
              li #{step}
      form(method="POST" action="/home/viewRecipe/rating").rating
        .rating
          input#star5.radio-btn.hide(
            value="5" 
            type="radio" 
            name="star"
            )
          label(for="star5") ☆
          input#star4.radio-btn.hide(
            value="4" 
            type="radio" 
            name="star"
            )
          label(for="star4") ☆
          input#star3.radio-btn.hide(
            value="3" 
            type="radio" 
            name="star"
            )
          label(for="star3") ☆
          input#star2.radio-btn.hide(
            value="2" 
            type="radio" 
            name="star"
            )
          label(for="star2") ☆
          input#star1.radio-btn.hide(
            value="1" 
            type="radio" 
            name="star"
            )
          label(for="star1") ☆
          input(type="hidden" name="recipe_id" value=recipe._id)
          button(type="submit").button-1 Rate
          .clear

